<link rel="stylesheet" href="/static/main.css">

* {
  font-family: sans-serif;
}

.header {
  padding: 1em;
  background: black;
}

.header h1 {
  font-size: 2em;
}

.movie img {
  max-width: 14rem;
}